################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreWebApplication/.vs/BookStoreWebApplication
/BookStoreWebApplication/BookStoreWebApplication/bin/Debug/netcoreapp3.1
/BookStoreWebApplication/BookStoreWebApplication/obj
